name: Send Message on Pull Request open.

on:
  pull_request:
    types: [opened, reopened]

jobs:
  sendMessage:
    runs-on: ubuntu-latest

    steps:
      - uses: hmarr/debug-action@v2
      - name: send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Author: ${{ github.event.pull_request.user.login }}
            Title: ${{ github.event.pull_request.title }}
            Link: ${{ github.event.pull_request.html_url }}
            Merge branch: from ${{ github.event.pull_request.head.ref }} to ${{ github.event.pull_request.base.ref }}
            Body:
            ${{ github.event.pull_request.body }}